@font-face {
    src: url("GrtskGiga-Bold.ttf");
}

@font-face {
    src: url("SF-Pro-Display-Bold.ttf");
}

@font-face {
    src: url("Inter-Medium.ttf");
}


.sample {
    -fx-font-smoothing-type: gray;
    -fx-font-family: "Inter Medium";
    -fx-font-size: 28px;
    -fx-text-fill: #ffffff;
}

.another {
    -fx-font-smoothing-type: gray;
    -fx-font-family: "Inter Medium";
    -fx-font-size: 20px;
    -fx-text-fill: #acacac;
}

.anotherWhite {
    -fx-font-smoothing-type: gray;
    -fx-font-family: "Inter Medium";
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
}

.micro {
    -fx-font-smoothing-type: gray;
    -fx-font-family: "Inter Medium";
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.microAnother {
    -fx-font-smoothing-type: gray;
    -fx-font-family: "Inter Medium";
    -fx-font-size: 14px;
    -fx-text-fill: #acacac;
}

.blackLabel {
    -fx-font-smoothing-type: gray;
    -fx-font-family: "Inter Medium";
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
}

.blackAnother {
    -fx-font-smoothing-type: gray;
    -fx-font-family: "Inter Medium";
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
}

